/* MOBILE FIRST */

*{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-image: url("../imagenes/fondo.jpg");
}


.logoMys{
    width: 100px;
    margin: 10px;
}

.menu ul li{
    display: inline;
    padding: 5px;
    border: 1px black solid;
    border-radius: 10px;
}


.mailTelefono a img {
    width: 10px;
}


h1{
    text-transform: uppercase;
    grid-area: h1;
    display: none;
}



header{
    display: grid;
    background-color: #3B2100;
    grid-template-areas: 
    "logo navegador";
    align-items: center;
    justify-content: space-between;
}

.mailTelefono{
    display: none;
}
   


.imgEstudio{
    width: 150px;
    margin-top: 0px;
    justify-content: center;
    margin-bottom: 0px;
    grid-area: imagen;
}

h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}
.item{
    border: 2px solid black;
    width: 130px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    grid-area: item;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
}

/* .items{
    border: 2px solid black;
    margin-top: 20px;
    padding-right: 30px;
} */

.navbar{
    background-color: #3B2100;
    
}

.nav-item{
    background-color: #131313;
}



.nav-link{
    color:white;
    margin-left: 10px;
}
.navbar-nav{
    margin-top: 3px;
}
.link{
    color: grey;
}

.link:hover{
    color: white;
    position: relative;
    left: 10px;
}

.list-group-item{
    background-color: #1c1c1c;
}

li:hover{
    padding:10px;
}

.list-group{
    margin-top: 30px;
}