*{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}



.linkLogo{
    grid-area: logo;
}

.mailTelefono{
    grid-area: mailTelefono;
}



.logoMys{
    width: 100px;
    margin: 10px;
}

.menu ul li{
    display: inline;
    padding: 5px;
    border: 1px black solid;
    border-radius: 10px;
}

.menu{
    margin-right: 5px;
    grid-area: navegador;
}

.mailTelefono a img {
    width: 10px;
}


h1{
    text-transform: uppercase;
    grid-area: h1;
    display: none;
}



header{
    display: grid;
    background-color: bisque;
    grid-template-areas: 
    "logo navegador";
    align-items: center;
    justify-content: space-between;
}

.mailTelefono{
    display: none;
}
   
.navegador{
    margin-right: 10px;
}

.imgEstudio{
    width: 150px;
    margin-top: 0px;
    justify-content: center;
    margin-bottom: 0px;
    grid-area: imagen;
}

h2{
    text-align: center;
}
.item{
    border: 2px solid black;
    width: 130px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    grid-area: item;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.items{
    border: 2px solid black;
    margin-top: 20px;
}
