/* MOBILE FIRST */
/* INDEX */
*{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-image: url("../imagenes/fondo.jpg");
}


.logoMys{
    width: 100px;
    margin: 10px;
}

.menu ul li{
    display: inline;
    padding: 5px;
    border: 1px black solid;
    border-radius: 10px;
}





h1{
    text-transform: uppercase;
    display: none;
}



header{
    background-color: #3B2100;
    align-items: center;
    justify-content: space-between;
}

.mailTelefono{
    display: none;
}
   


.imgEstudio{
    width: 150px;
    margin-top: 0px;
    justify-content: center;
    margin-bottom: 0px;
    grid-area: imagen;
}

h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}
.item{
    border: 2px solid black;
    width: 130px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    grid-area: item;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
}


.navbar{
    background-color: #3B2100;
    
}

.nav-item{
    background-color: #131313;
}



.nav-link{
    color:white;
    margin-left: 10px;
}
.navbar-nav{
    margin-top: 3px;
}
.link{
    color: grey;
}

.link:hover{
    color: white;
    position: relative;
    left: 10px;
}

.list-group-item{
    background-color: #1c1c1c;
}

li:hover{
    left: 10px;
}

.list-group{
    margin-top: 30px;
    width: 200px;
}




/* FOOTER */
footer{
    background-color: black;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    position:relative;
    bottom: 0;
    top: 100px;
}

.logoMysFooter{
    width: 130px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}
.texto{
    margin-top: 5px;
}
.facebook{
    width: 30px;
}

.instagram{
    width :30px;
}

.imagenesFooter{
    display: flex;
    flex-direction: column;
    margin-right: 85px;
}

.whatsapp{
    position: fixed;
    width: 60px;
    bottom: 10px;
    right: 20px;
}


/* SERVICIOS */
.card{
    background-color: black;
    margin: 10px;
    width: 200px;
}

.papa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    color: white;
}

.card-text{
    margin-top: 30px;
}

.servicios{
    margin-top: 15px;
    margin-bottom: 50px;
}


/* DESKTOP */

@media (min-width:1024px){
    /* INDEX Y HEADER */
    h1{
        display: inline;
        color: white;
        font-size: 30px;
        
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .mailTelefono{
        display: inline;
        color: white;
    }
    .mailTelefono img{
        width: 15px;
    }
    .mailTelefono a{
        color: white;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .container img{
        width: 300px;
    }
    .nosotros{
        margin-top: 50px;
        width: 300px;
    }
    .equipo{
        margin-top: 50px;
        width: 300px;
    }
    .hacemos{
        margin-top: 50px;
        width: 300px;
    }
    .descripcion{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .whatsapp:hover{
        width: 80px;
    }

    /* SERVICIOS */
    .papa{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .card{
        width: 250px;
    }
}